.fullscreen{
    display: none;
    position: absolute;
    z-index: -1;
}
.fullscreen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 440px) {
    main{
        display: grid;
        grid-template-columns: 
        minmax(1em ,1fr) minmax(19rem,35ch) minmax(1em ,3fr);
        justify-items: start;
    }

    main *{
        grid-column: 2/3;
    }

    .main-in{
        background-position: left bottom;
    }
}

@media (min-width: 834px) {

    main{
        grid-template-columns: 
        minmax(1em ,1fr) minmax(19rem,45ch) minmax(1em ,3fr);
    }

    .main-in{
        background-position: center right;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        margin: 0 4rem;
    }

    .nav-list-item{
        margin-right: 2rem;
        
    }
}

@media (min-width: 1024px) {

    .main-in{
        background-image: none;
    }

    .fullscreen{
        display: block;
    }

    main h1{
        margin: 4rem 0 1.5rem 0 ;
    }

    main p{
        margin-bottom: 1.5rem ;
    }
}